.ingredient-card {
    color: black;
    margin-top: 10px;
    border: 1px solid rgba(207,207,207,1);
    border-radius: 8px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(207,207,207,0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(207,207,207,0.5);
    box-shadow: 1px 1px 5px 0px rgba(207,207,207,0.5);
}

/* Uncomment below when cards are links to items */
/* .ingredient-card:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(207,207,207,1);
    -moz-box-shadow: 3px 3px 8px 0px rgba(207,207,207,1);
    box-shadow: 3px 3px 8px 0px rgba(207,207,207,1);
} */
