.result-container {
    margin-bottom: 15px;
}

img {
    height: 100px;
    width: 100px
}

.section-divider {
    color: #4B4B4C;
    background-color:#C6C6C6;
}

.hide-section {
    display: none;
}

.result-main {
    color: #4B4B4C;
    background-color: #C6C6C6;
    border: 2px solid #4B4B4C;
    border-radius: 8px;
    -webkit-box-shadow: 3px 3px 10px 0px #4B4B4C;
    -moz-box-shadow: 3px 3px 10px 0px rgba(207,207,207,1);
    box-shadow: 3px 3px 10px 0px rgba(207,207,207,1);
}

.result-details {
    border-bottom: 2px solid #4B4B4C;
}