.result-container {
    border: 2px solid black;
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 10px 0px rgba(207,207,207,1);
    -moz-box-shadow: 6px 6px 10px 0px rgba(207,207,207,1);
    box-shadow: 6px 6px 10px 0px rgba(207,207,207,1);

}
.result-recipes {
    border-top: solid 1px rgba(207,207,207,1);
}

img {
    height: 100px;
    width: 100px
}

.section-divider {
    background-color:#4ABDAC;
    border-radius: 5px;
}

.hide-section {
    display: none;
}